@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<script src="~/js/item.js"></script>
<h1>Welcome Page</h1>
<button type="button" class="btn btn-primary" onclick="Add()">Add</button>