<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="~/js/javascript.js"></script>

@model Suppliers

<h1>Welcome Page</h1>
<button type="button" class="btn btn-primary" onclick="Add()">Add</button>

<table class="table">
    <tr>
        <th>Supplier Name</th>
        <th>State</th>
        <th>Action</th>
    </tr>
    <tbody id="data">
    </tbody>
</table>

<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>
<script id="templatefile" type="x-tmpl-mustache">
    <tr>
     <td> {{supplier_Name}}</td>
     <td> {{state}} </td>
      <td><input type="button" onclick="Edit('{{gid}}')" value="Edit" class="btn btn-success"></td>
      <td><input type="button" onclick="Delete('{{gid}}')" value="Delete" class="btn btn-danger"></td>
  </tr>
</script>

